<%- include("../layouts/header.ejs") %>

    <main id="reload">
        <div class="mb-4 pb-4"></div>
        <div class="mb-4 pb-4"></div>

        <section class="shop-checkout container">
            <h2 class="page-title">Cart</h2>
            <div class="checkout-steps">
                <a href="/cart" class="checkout-steps__item active">
                    <span class="checkout-steps__item-number"></span>
                    <span class="checkout-steps__item-title">
                        <span>Shopping Bag</span>
                        <em>Manage Your Items List</em>
                    </span>
                </a>
            </div> 
            
            <div class="shopping-cart" >
                <div class="cart-table__wrapper">
                    <% if (cartdata && cartdata.product.length> 0) { %>
                  
                        <div class="mb-5 pb-xl-5" >
                            <table class="cart-table"> 
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Subtotal</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <% cartdata.product.forEach(product=> { %>
                                <% if(product.productId.quantity == 0){ %>
                                    <tbody >
                                        <tr>
                                            <td>
                                                <div class="shopping-cart__product-item">
                                                    <img loading="lazy"
                                                        src="/public/productImages/<%= product.productId.Image[0] %>"
                                                        width="120" height="120" alt="product image">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="shopping-cart__product-item__detail">
                                                    <h4>
                                                        <%= product.productId.name %>
                                                    </h4>
                                                    <ul class="shopping-cart__product-item__options">
                                                        <!-- <li>Color: Yellow</li>
                                                          <li>Size: L</li> -->
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>
                                                <span class="shopping-cart__product-price">$<%= product.productId.price
                                                        %></span>
                                            </td>
                                            <td>
                                                <div class="product-single__addtocart" >
                                                    <button type="" class="btn btn-primary btn-addtocart btn-tofstock" id="out">Out of Stock</button>
                                                  </div>
                                            </td>
                                            <style>
                                                 .product-single__addtocart .btn-addtocart.btn-tofstock {
                                                        border: none;
                                                        color: #D6001C;
                                                        background-color: #fff;
                                                           pointer-events: none;
                                                           width: 10px;
                                                           height: 10px;
                                                           margin-top: 38px;
                                                         }
                                            </style>
                                            <td>
                                                <span class="shopping-cart__subtotal">$<%= product.quantity * product.productId.price %></span>
                                            </td>
                                            <td>
                                                <a href="#" onclick="removecart('<%= product.productId._id %>')"
                                                    class="remove-cart">
                                                    <svg width="10" height="10" viewBox="0 0 10 10" fill="#767676"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M0.259435 8.85506L9.11449 0L10 0.885506L1.14494 9.74056L0.259435 8.85506Z">
                                                        </path>
                                                        <path
                                                            d="M0.885506 0.0889838L9.74057 8.94404L8.85506 9.82955L0 0.97449L0.885506 0.0889838Z">
                                                        </path>
                                                    </svg>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                      <% }else { %>
                                    <tbody >
                                        <tr>
                                            <td>
                                                <% if(product.productId.quantity < 7) { %>
                                                    <p style="color: red; font-weight: 500;"><%=product.productId.quantity %> item left!</p>
                                                <%}%>
                                                <div class="shopping-cart__product-item">
                                                    <img loading="lazy"
                                                        src="/public/productImages/<%= product.productId.Image[0] %>"
                                                        width="120" height="120" alt="product image">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="shopping-cart__product-item__detail">
                                                    <h4>
                                                        <%= product.productId.name %>
                                                    </h4>
                                                    <ul class="shopping-cart__product-item__options">
                                                        <!-- <li>Color: Yellow</li>
                                                        <li>Size: L</li> -->
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>
                                                <span class="shopping-cart__product-price">$<%= product.productId.price %></span>
                                            </td>
                                            <td>
                                                <div class="qty-control position-relative">
                                                 
                                                    <div class="qty-control__reduce"
                                                        onclick="updatecount('<%= product.productId._id %>',-1) ">-
                                                    </div>
                                                    <input type="number" name="quantity" value="<%= product.quantity %>" min="1"
                                                    class="qty-control__number text-center" onchange="Total(this,'<%=product.productId._id %>', '<%=product.productId.price %>')">
                                                    <div class="qty-control__increase"
                                                        onclick="updatecount('<%= product.productId._id %>',+1) ">+
                                                    </div>
                                                </div><!-- .qty-control -->
                                            </td>
                                            <td>
                                                <span class="shopping-cart__subtotal">$<%= product.quantity * product.productId.price 
                                                         %></span>
                                            </td>
                                            <td>
                                                <a href="#" onclick="removecart('<%= product.productId._id %>')"
                                                    class="remove-cart">
                                                    <svg width="10" height="10" viewBox="0 0 10 10" fill="#767676"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M0.259435 8.85506L9.11449 0L10 0.885506L1.14494 9.74056L0.259435 8.85506Z">
                                                        </path>
                                                        <path
                                                            d="M0.885506 0.0889838L9.74057 8.94404L8.85506 9.82955L0 0.97449L0.885506 0.0889838Z">
                                                        </path>
                                                    </svg>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                 <%}%>
                                    <% }) %>
                            </table>
                        </div>


                        <div class="cart-table-footer">
                            <form action="./" class="position-relative bg-body">
                                <input class="form-control" type="text" name="coupon_code" placeholder="Coupon Code">
                                <input class="btn-link fw-medium position-absolute top-0 end-0 h-100 px-4" type="submit"
                                    value="APPLY COUPON">
                            </form>
                            <button class="btn btn-light">UPDATE CART</button>
                        </div>
                </div>
                <div class="shopping-cart__totals-wrapper">
                    <div class="sticky-content">
                        <div class="shopping-cart__totals" id="subtotal">
                            <h3>Cart Totals</h3>
                            <table class="cart-totals">

                                <tbody>
                                    <tr>
                                        <th>Subtotal</th>
                                        <td>$<%= subtotal %>
                                        </td> 
                                    </tr>
                                    <tr>
                                        <th>Shipping</th>
                                      
                                    </tr>
                                    <tr>
                                        <th>VAT</th>
                                     
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <td>$<%= subtotal %>
                                       
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <div class="mobile_fixed-btn_wrapper">
                            <div class="button-wrapper container">
                                <a href="/checkout">
                                <button id="proceed" class="btn btn-primary btn-checkout">PROCEED TO CHECKOUT</button>
                            </a>
                            </div>
                            <% } else { %>
                                <h3>Cart is empty</h3>
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        function updatecount(productId, count) {
            const data = { productId, count };
            fetch('/updatecart', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
    
                .then(response => {
                    if (response.success) {
                        $('#reload').load('/cart  #reload');
                        $('#subtotal').load('/cart  #subtotal');
                    } else {
                        console.log("Error: ", response.error);
                    }
                })
                .catch(error => console.error("Error:", error));
        }
    </script>
    
    <script>
        function Total(input, id, price) {
            const quantity = parseInt(input.value);
            const total =  quantity * price;
          
        }
    </script>
    
    <script>

        function removecart(id) {
            $.ajax({
                url: "/removecart",
                method: 'DELETE',
                data: {
                    productId: id,
                },
                success: (response) => {
                    if (response.success) {
                        Swal.fire({
                            title: "Item Removed!",
                            text: "The item has been successfully removed from your cart.",
                            icon: "success",
                            showConfirmButton: false,
                            timer:1000,
                        });
                        $('#reload').load('/cart #reload')
                       
                    } else {
                        console.error("Failed to remove item from cart.");
                    }
                },
                error: (xhr, status, error) => {
                    console.error("Error occurred:", error);
                }
            });
        }


    </script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        if ($('#out').text() === 'Out of Stock') {
            $('#proceed').hide();
        }
    });
</script>

    <div class="mb-5 pb-xl-5"></div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script src="/public/assets/js/jquery-3.4.1.min.js"></script>
<!-- owl.carousel -->
<script src="/public/assets/js/owl.carousel.js"></script>
<!-- bootstrap.min -->
<script src="/public/assets/js/bootstrap.min.js"></script>
<!-- slick -->
<script  src="/public/assets/js/slick.js"></script>
<!-- popper.min -->
<script src="/public/assets/js/popper.min.js"></script>
<!-- moment js -->
<script src="/public/assets/js/moment.min.js"></script>
<!-- daterangepicker js -->
<script src="/public/assets/js/daterangepicker.min.js"></script>
<!-- wow.js - v1.2.1 -->
<script src="/public/assets/js/wow.min.js"></script>
<!-- Font Awesome Free 5.15.1 -->
<script src="/public/assets/js/all.min.js"></script>
<!--   fancybox -->
<script  src="/public/assets/js/jquery.fancybox.min.js"></script>
<!-- custom js -->
<script src="/public/assets/js/custom.js"></script>
  <!-- External JavaScripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/bootstrap-slider.min.js"></script>

  <script src="js/swiper.min.js"></script>
  <script src="js/countdown.js"></script>
  <script src="js/jquery.fancybox.js"></script>

  <!-- Footer Scripts -->
  <script src="js/theme.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- include("../layouts/footer.ejs") %>