<%- include("../layouts/header.ejs") %>
<br>
<link rel="shortcut icon" href="/user/favicon.ico" type="image/x-icon">
<link rel="preconnect" href="https://fonts.gstatic.com">
      <!-- Favicon -->
      <link rel="shortcut icon" type="image/x-icon" href="/">
      <!-- bootstrap min-->
      <link rel="stylesheet" type="text/css" href="/public/mainassets2/bootstrap.min.css">
      <!-- fontawesome -->
      <link rel="stylesheet" type="text/css" href="/public/mainassets2/all.min.css">
      <link rel="stylesheet" type="text/css" href="/public/mainassets2/fontawesome.css">
      <link rel="stylesheet" type="text/css" href="/public/mainassets2/fontawesome.min.css">
      <!-- OwlCarousel2 -->         
      <link rel="stylesheet" type="text/css" href="/public/mainassets2/owl.theme.default.min.css">
      <link rel="stylesheet" type="text/css" href="/public/mainassets2/owl.carousel.css">
      <!-- daterangepicker --> 
      <link rel="stylesheet" type="text/css" href="/public/mainassets2/daterangepicker.css" />
      <!-- fancybox -->
      <link rel="stylesheet" type="text/css" href="/public/mainassets2/jquery.fancybox.css">
      <!-- animate -->
      <link rel="stylesheet" type="text/css" href="/public/mainassets2/animate.min.css">
      <!-- media -->
      <link rel="stylesheet" type="text/css" href="/public/mainassets2/media.css">
      <!-- style -->
      <link rel="stylesheet" type="text/css" href="/public/mainassets2/style.css">
      <!-- responsive -->
      <link rel="stylesheet" type="text/css" href="/public/mainassets2/responsive.css">
      <!--                                               -->
      <!-- googleapis -->
      <link rel="preconnect" href="../../../fonts.gstatic.com/index.html">
  
  <!-- Fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Allura&amp;display=swap" rel="stylesheet">

  <!-- Stylesheets -->
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/user/css/swiper.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/style.css" type="text/css">



  <main>
    
  
    <div class="mb-4 pb-4"></div>
    <section class="shop-checkout container">
      <div class="mb-4 pb-4"></div>
      <h2 class="page-title">Shipping and Checkout</h2>
      <div class="checkout-steps">
       
        <a href="" class="checkout-steps__item active">
          <span class="checkout-steps__item-number">02</span>
          <span class="checkout-steps__item-title">
            <span>Shipping and Checkout</span>
            <em>Checkout Your Items List</em>
          </span>
        </a>
       
      </div>
      <form name="checkout-form" method="post" action="/checkout" id="orderplace">
        <div class="checkout-form">
          <div class="billing-info__wrapper">
            <h4>BILLING DETAILS</h4>
            <h6>Select an existing address:</h6>
             <!-- <h6>Select an Address</h6> -->
            <% if(addresses.length > 0){ %>

              <% addresses.forEach((value, index)=> { %>
                <% if (value && typeof value==='object' ) { %>
                
                  <div class="checkot__totals-wrapper">
                    <div class="sticky-content">
                      <div class="checkot__totals">
                        <h3>SHIPPING ADDRESS</h3>
                        
                        <table class="checkot-cart-items">
                       
                          <tbody>
                         
                            <tr>
                              <td>
                             
                         First Name : <%= value.fname %>
                         <br>
                         City :  <%= value.city %>
                         <br>
                           Address :  <%= value.address %>
                           <br>
                             Phone : <%= value.mobile %>
                             <br>
                            Email : <%= value.email %>
                            <br>
                           PIN : <%= value.pin %>
                           <br>
                           <label for="option<%= index + 1 %>" class="op mb-2">
                            <input type="radio" id="existing_address_1" name="addressId" value="<%= value._id %>" class="me-1"
                              required>
                            </label>
                          
                           <!-- <input type="radio" id="existing_address_1"  value="<%=value._id%>" onclick="handleAddressSelection('<%= value._id %>')">
                            </tr> -->
                
                          </tbody>
                        </table>
                      </div>
                   
                    </div>
                  </div>
               <%}%>
               <% }) %>
             <%} %>
             <div>
              <input type="radio" id="add_new_address" name="existing_address" onclick="handleAddressSelection()" <%if(addresses.length===0){%>Checked<%}%>>
              <label for="add_new_address"><h5>Add a new address</h5></label>
          </div>
          <div class="card rounded mb-2" id = "addAddress" style="display: none;">
            <div class="card-header bg-white" id="chechout_add">
               <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed text-body p-0 font-weight-bolder" type="button" data-toggle="collapse" data-target="#check_add" aria-expanded="false" aria-controls="check_add">
                  Address<span class="float-right"><i class="fas fa-angle-down"></i></span>
                  </button>
               </h2>
            </div>
            <div id="check_add" class="collapse" aria-labelledby="chechout_add" data-parent="#check_out_toggle">
              <div class="card-body">
                  <div id="c_address" class="page-content">
                      <form id="addForm" class="needs-validation" method="post" novalidate>
                          <div class="form-group">
                              <label for="AddFname" class="font-weight-bolder">First Name</label>
                              <input type="text" class="form-control" name="firstName" placeholder="First Name" id="AddFname">
                              <div class="invalid-feedback" id="add1">Please Enter your First Name.</div>
                          </div>
                          <div class="form-group">
                              <label for="AddLname" class="font-weight-bolder">Last Name</label>
                              <input type="text" class="form-control" name="lastName" placeholder="Last Name" id="AddLname">
                              <div class="invalid-feedback" id="add2">Please Enter your Last Name.</div>
                          </div>
                          <div class="form-group">
                              <label for="AddMobile" class="font-weight-bolder">Mobile</label>
                              <input type="number" class="form-control" name="mobileNumber" placeholder="Mobile Number" id="AddMobile">
                              <div class="invalid-feedback" id="add3">Please Enter your Mobile Number.</div>
                          </div>
                          <div class="form-group">
                              <label for="AddEmail" class="font-weight-bolder">Email</label>
                              <input type="email" class="form-control" name="email" placeholder="Email" id="AddEmail">
                              <div class="invalid-feedback" id="add4">Please Enter your Email.</div>
                          </div>
                          <div class="form-group">
                              <label for="AddAddress" class="font-weight-bolder">Address</label>
                              <textarea class="form-control form-control_gray" name="address" placeholder="Address" cols="30" rows="4" id="AddAddress"></textarea>
                              <div class="invalid-feedback" id="add5">Please Enter your Address.</div>
                          </div>
                          <div class="form-group">
                              <label for="AddCity" class="font-weight-bolder">Town/City</label>
                              <input type="text" class="form-control" name="city" placeholder="Town/City" id="AddCity">
                              <div class="invalid-feedback" id="add6"> Please Enter your Town/City.</div>
                          </div>
                          <div class="form-group">
                              <label for="AddPost" class="font-weight-bolder">Post Code</label>
                              <input type="text" class="form-control" name="postCode" placeholder="Post Code" id="AddPost">
                              <div class="invalid-feedback" id="add7">Please Enter your Post Code.</div>
                          </div>
                          <div>
                              <span class="text-danger">Make sure you have the right address, you can edit it only on the profile after you save and proceed!!!!!!!!!</span>
                              <button type="submit" name="submit" id="saveAndProceedBtn" class="f_13 btn btn-primary mt-3 mb-2 float-right" value="save" data-target="#check_add">Save And Proceed</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          
         </div>
       
          </div>
          <div class="checkout__totals-wrapper">
            <div class="sticky-content">
              <div class="checkout__totals">
                <h3>Your Order</h3>
                <table class="checkout-cart-items">
                  <thead>
                    <tr>
                      <th>PRODUCT</th>
                      <th>SUBTOTAL</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% cartdata.product.forEach((product)=>{ %>
                    <tr>
                      <td>
                        <%= product.name %> X   <%=product.quantity %>
                
                      </td>
                      <td>
                       $ <%=product.total %>
                      </td>
                    </tr>
                    <tr>
                    
                      <td>
                    
                       </td>
                      <!-- <td>
                        $29.90
                      </td> -->
                    </tr>
                  </tbody>
                  <% }) %>
                </table>
                <table class="checkout-totals">
                 
                  <tbody>
                    <tr>
                      <th>SUBTOTAL</th>
                      <td>$<%= subtotal%></td>
                    </tr>
                    <tr>
                      <th>SHIPPING</th>
                      <td>Free shipping</td>
                    </tr>
                    <tr>
                      <th>VAT</th>
                      <td>$0</td>
                    </tr>
                    <tr>
                      <th>TOTAL</th>
                      <td> $<%= subtotal%></td>
                      <input type="hidden" value="<%= subtotal%>" name="subtotal">
                    </tr>
                 
                  </tbody>
                </table>
              </div>
              <div class="checkout__payment-methods">
                <!-- <div class="form-check">
                  <input class="form-check-input form-check-input_fill" type="radio" name="paymentMethod" id="wallet" >
                  <label class="form-check-label" for="checkout_payment_method_1">
                    Wallet
                   
                  </label>
                </div> -->
               
                <div class="form-check">
                  <input class="form-check-input form-check-input_fill" type="radio" name="paymentMethod" id="cash_on_delivery" value="CASH ON DELIVERY">
                  <label class="form-check-label" for="checkout_payment_method_3">
                    Cash on delivery
                  </label>
                </div>
                <!-- <div class="form-check">
                  <input class="form-check-input form-check-input_fill" type="radio" name="checkout_payment_method" id="paypal">
                  <label class="form-check-label" for="checkout_payment_method_4">
                    Paypal
                   
                  </label>
                </div> -->
                <div class="policy-text">
                  Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our <a href="./terms.html" target="_blank">privacy policy</a>.
                </div>
              </div>
              <button type="submit" class="btn btn-dark btn-lg">Place Order</button>
            </div>
          </div>
        </div>
      </form>
    </section>
  </main>

  <div class="mb-5 pb-xl-5"></div>
  
  <!-- Footer Type 1 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script>
    $(document).ready(function() {
      if (($("#add_new_address").is(":checked"))) {
        $('#addAddress').css('display', 'block');
        $('#check_add').collapse('show');
        $('#check_existing_address').css('display', 'none');

      }
    })
    let addressId,paymentMethod ;

    
   
    function handleAddressSelection(id) {
      console.log("the iid from handle is here",id);
      if (id) {
        $('#addAddress').css('display', 'none');
        addressId = id;
      } else {
        addressId = null;
        $('#addAddress').css('display', 'block');
        $('#check_add').collapse('show');
        $('#check_existing_address').collapse('hide');
      }
    }
 // Define the validateAdd function first
function validateAdd() {
    const fname = $('#AddFname').val();
    const lname = $('#AddLname').val();
    const mobile = $('#AddMobile').val();
    const email = $('#AddEmail').val();
    const address = $('#AddAddress').val();
    const city = $('#AddCity').val();
    const post = $('#AddPost').val();
    isValid = true;
    if (!fname.trim()) {
        isValid = false;
        $('#add1').css('display', 'block');
    }
    if (!lname.trim()) {
        isValid = false;
        $('#add2').css('display', 'block');
    }
    if (!mobile.trim() || mobile.length !== 10) {
        isValid = false;
        $('#add3').css('display', 'block');
    }
    if (!email.trim()) {
        isValid = false;
        $('#add4').css('display', 'block');
    }
    if (!address.trim()) {
        isValid = false;
        $('#add5').css('display', 'block');
    }
    if (!city.trim()) {
        isValid = false;
        $('#add6').css('display', 'block');
    }
    if (!post.trim()) {
        isValid = false;
        $('#add7').css('display', 'block');
    }

    return isValid;
}

$('#saveAndProceedBtn').on('click', async function(e) {
    e.preventDefault();

    $('#add1').css('display', 'none');
    $('#add2').css('display', 'none');
    $('#add3').css('display', 'none');
    $('#add4').css('display', 'none');
    $('#add5').css('display', 'none');
    $('#add6').css('display', 'none');
    $('#add7').css('display', 'none');

    const fname = $('#AddFname').val()
    const lname = $('#AddLname').val();
    const mobile = $('#AddMobile').val();
    const email = $('#AddEmail').val();
    const address = $('#AddAddress').val();
    const city = $('#AddCity').val();
    const post = $('#AddPost').val();

    if (!validateAdd()) return;

    try {
        const response = await fetch('/addaddress', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                firstName: fname,
                lastName: lname,
                city: city,
                mobileNumber: mobile,
                email: email,
                address: address,
                postCode: post,
            })
        });
        window.location.href = '/checkout'; 
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }

        const responseData = await response.json();

        if (responseData.success) {
          
        
        } else {
            console.log('Failed to add address');
        }
    } catch (error) {
        console.error('There was a problem with the fetch operation:', error);
        if (error instanceof SyntaxError) {
            console.error('Response is not in JSON format');
            console.error('Response content:', await response.text());
        }
    }
});







    function validateAdd() {
      const fname = $('#AddFname').val();
    const lname = $('#AddLname').val();
    const mobile = $('#AddMobile').val();
    const email = $('#AddEmail').val();
    const address = $('#AddAddress').val();
    const city = $('#AddCity').val();
    const post = $('#AddPost').val();
      isValid = true;
      if (!fname.trim()) {
       isValid = false;
       $('#add1').css('display', 'block');
   }
   if (!lname.trim()) {
       isValid = false;
       $('#add2').css('display', 'block');
   }
   if (!mobile.trim() || mobile.length !==10) {
       isValid = false;
       $('#add3').css('display', 'block');
   }
   if (!email.trim()) {
       isValid = false;
       $('#add4').css('display', 'block');
   }
   if (!address.trim()) {
       isValid = false;
       $('#add5').css('display', 'block');
   }
   if (!city.trim()) {
       isValid = false;
       $('#add6').css('display', 'block');
   }
   if (!post.trim()) {
       isValid = false;
       $('#add7').css('display', 'block');
   }

   return isValid;
}
  </script>
  
  <script>
    
  </script>



  <!-- External JavaScripts -->
  <script src="/user/js/jquery.min.js"></script>
  <script src="/user/js/bootstrap.bundle.min.js"></script>
  
  <script src="/user/js/bootstrap-slider.min.js"></script>
  <!-- <script src="js/plugins/jquery.waypoints.min.js"></script>
  <script src="js/plugins/sticky.min.js"></script> -->
  <script src="/user/js/swiper.min.js"></script>
  <script src="/user/js/countdown.js"></script>
  <script src="/public/user/js/jquery.fancybox.js"></script>

  <!-- Footer Scripts -->
  <script src="/user/js/theme.js"></script>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="/public/mainassets/jquery-3.4.1.min.js"></script>
<!-- owl.carousel -->
<script src="/public/mainassets/owl.carousel.js"></script>
<!-- bootstrap.min -->
<script src="/public/mainassets/bootstrap.min.js"></script>
<!-- slick -->
<script  src="/public/mainassets/slick.js"></script>
<!-- popper.min -->
<script src="/public/mainassets/popper.min.js"></script>
<!-- moment js -->
<script src="/public/mainassets/moment.min.js"></script>
<!-- daterangepicker js -->
<script src="/public/mainassets/daterangepicker.min.js"></script>
<!-- wow.js - v1.2.1 -->
<script src="/public/mainassets/wow.min.js"></script>
<!-- Font Awesome Free 5.15.1 -->
<script src="/public/mainassets/all.min.js"></script>
<!--   fancybox -->
<script  src="/public/mainassets/jquery.fancybox.min.js"></script>
<!-- custom js -->
<script src="/public/mainassets/custom.js"></script>




</body></html>
  <%- include("../layouts/footer.ejs") %>
