<%- include("../layouts/header.ejs") %>
<br><br><br><br>

  <main>
    <section class="full-width_padding">
      <div class="full-width_border border-2" style="border-color: #eee">
        <div class="shop-banner position-relative ">
          <div class="background-img" style="background-color: #eee">
            <img loading="lazy" src="images/shop_banner8.png" width="1759" height="420" alt="Pattern" class="slideshow-bg__img object-fit-cover">
          </div>

          <div class="shop-banner__content container position-absolute start-50 top-50 translate-middle">
            <h2 class="h1 stroke-text smooth-16 text-uppercase fw-bold mb-3 mb-xl-4">Shop</h2>
            <!-- <ul class="d-flex flex-wrap list-unstyled text-uppercase h6">
              <li class="me-3 me-xl-4 pe-1"><a href="#" class="menu-link menu-link_us-s menu-link_active">StayHome</a></li>
              <li class="me-3 me-xl-4 pe-1"><a href="#" class="menu-link menu-link_us-s">New In</a></li>
              <li class="me-3 me-xl-4 pe-1"><a href="#" class="menu-link menu-link_us-s">Jackets</a></li>
              <li class="me-3 me-xl-4 pe-1"><a href="#" class="menu-link menu-link_us-s">Hoodies</a></li>
              <li class="me-3 me-xl-4 pe-1"><a href="./shop4.html" class="menu-link menu-link_us-s">Men</a></li>
              <li class="me-3 me-xl-4 pe-1"><a href="./shop5.html" class="menu-link menu-link_us-s">Women</a></li>
              <li class="me-3 me-xl-4 pe-1"><a href="#" class="menu-link menu-link_us-s">Trousers</a></li>
              <li class="me-3 me-xl-4 pe-1"><a href="./shop3.html" class="menu-link menu-link_us-s">Accessories</a></li>
              <li class="me-3 me-xl-4 pe-1"><a href="#" class="menu-link menu-link_us-s">Shoes</a></li>
            </ul> -->
          </div>/.shop-banner__content
        </div><!-- /.shop-banner position-relative -->
      </div><!-- /.full-width_border -->
    </section><!-- /.full-width_padding-->

    <div class="mb-4 pb-lg-3"></div>

    <section class="shop-main container">
      <div class="d-flex justify-content-between mb-4 pb-md-2">
        <div class="breadcrumb mb-0 d-none d-md-block flex-grow-1">
          <a href="#" class="menu-link menu-link_us-s text-uppercase fw-medium">Home</a>
          <span class="breadcrumb-separator menu-link fw-medium ps-1 pe-1">/</span>
          <a href="#" class="menu-link menu-link_us-s text-uppercase fw-medium">The Shop</a>
        </div><!-- /.breadcrumb -->

        <div class="shop-acs d-flex align-items-center justify-content-between justify-content-md-end flex-grow-1">
          <form id="sortForm" method="GET">
            <select id="sortSelect" class="shop-acs__select form-select w-auto border-0 py-0 order-1 order-md-0" aria-label="Sort Items" name="sort">
              <option selected value="0">Default Sorting</option>
              <!-- <option value="1">Featured</option>
              <option value="2">Best selling</option> -->
              <option value="3">Alphabetically, A-Z</option>
              <option value="4">Alphabetically, Z-A</option>
              <option value="5">Price, low to high</option>
              <option value="6">Price, high to low</option>
              <option value="7">Date, old to new</option>
              <option value="8">Date, new to old</option>
            </select>
          </form>

          <div class="shop-asc__seprator mx-3 bg-light d-none d-md-block order-md-0"></div>

          <!-- <div class="col-size align-items-center order-1 d-none d-lg-flex">
            <span class="text-uppercase fw-medium me-2">View</span>
            <button class="btn-link fw-medium me-2 js-cols-size" data-target="products-grid-1" data-cols="2">2</button>
            <button class="btn-link fw-medium me-2 js-cols-size" data-target="products-grid-1" data-cols="3">3</button>
            <button class="btn-link fw-medium js-cols-size" data-target="products-grid-1" data-cols="4">4</button>
          </div>/.col-size -->

          <!-- <div class="shop-asc__seprator mx-3 bg-light d-none d-lg-block order-md-1"></div> -->

          <div class="shop-filter d-flex align-items-center order-0 order-md-3">
            <button class="btn-link btn-link_f d-flex align-items-center ps-0 js-open-aside" data-aside="shopFilter">
              <svg class="d-inline-block align-middle me-2" width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_filter"></use></svg>
              <span class="text-uppercase fw-medium d-inline-block align-middle">Filter</span>
            </button>
          </div><!-- /.col-size d-flex align-items-center ms-auto ms-md-3 -->
        </div><!-- /.shop-acs -->
      </div><!-- /.d-flex justify-content-between -->
      
      <div class="products-grid">
        
        <!-- <h2 class="section-title fw-normal mb-3 pb-2">List Style v1</h2> -->
        <div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4" id="products-grid-1">
          <% if(product.length > 0){ %>
            <% for(let i=0;i<product.length;i++){ %>
              <% if(product[i].is_Listed == true && product[i].category.is_Listed==0 ){ %>
          <div class="product-card-wrapper">
            <div class="product-card mb-3 mb-md-4 mb-xxl-5">
              <div class="pc__img-wrapper">
                <div class="swiper-container background-img js-swiper-slider" data-settings='{"resizeObserver": true}'>
                  <div class="swiper-wrapper">
                    <!-- <div class="swiper-slide">
                      <a href="./product1_simple.html"><img loading="lazy" src="images/product_1.jpg" width="330" height="400" alt="Cropped Faux leather Jacket" class="pc__img"></a>
                    </div>/.pc__img-wrapper -->
                    <div class="swiper-slide">
                      <a href="/productdetails?id=<%= product[i]._id %>"><img loading="lazy" src="productImages/<%= product[i].Image[0]%>" width="330" height="400" alt="Product image" class="pc__img"></a>
                    </div><!-- /.pc__img-wrapper -->
                  </div>
                  
                </div>
                <!-- <button class="pc__atc btn anim_appear-bottom btn position-absolute border-0 text-uppercase fw-medium js-add-cart js-open-aside" data-aside="cartDrawer" title="Add To Cart">Add To Cart</button> -->
              </div>

              <div class="pc__info position-relative">
                <p class="pc__category"><%= product[i].category.name %></p>
                <h6 class="pc__title"><a href="./product1_simple.html"><%= product[i].name %></a></h6>
                <div class="product-card__price d-flex">
                  <span class="money price">$<%= product[i].price %></span>
                </div>
                <div class="product-card__review d-sm-flex align-items-center">
                  <div class="reviews-group d-flex">
                    <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star"></use></svg>
                    <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star"></use></svg>
                    <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star"></use></svg>
                    <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star"></use></svg>
                    <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><use href="#icon_star"></use></svg>
                  </div>
                  <span class="reviews-note text-lowercase text-secondary ms-sm-1">8k+ reviews</span>
                </div>

                <button class="pc__btn-wl position-absolute top-0 end-0 bg-transparent border-0 js-add-wishlist" title="Add To Wishlist">
                  <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_heart"></use></svg>
                </button>
              </div>
            </div>
          </div>
          <% } %>
          <% } %>
        <% } else { %>
          <h3>No product found</h3>
          <% } %>
        </div>
        



        </div>
        

        <div class="mb-4 mb-xl-5"></div>
        <div class="container" id="pagination">
        <div class="pagination-area mt-15 mb-50">
          <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-start">
                <%# for(let j=1; j<=totalPages; j++){ %> 
                      <li class="page-item">
                          <a class="page-link" href="">1</a>
                      </li>
                 <%# } %>       
              </ul>
          </nav>
      </div>
    </div>
    </section><!-- /.shop-main container -->
  </main>

  <div class="mb-5 pb-xl-5"></div>

  <!-- sort -->

  <script>
    document.getElementById('sortForm').addEventListener('submit', function(event) {
      event.preventDefault(); 
      const sortSelect = document.getElementById('sortSelect');
      const selectedSort = sortSelect.options[sortSelect.selectedIndex].value;
      const currentUrl = new URL(window.location.href="/shop");
      currentUrl.searchParams.set('sort', selectedSort); 
      window.location.href = currentUrl.href; 
    });
  </script>
  <script>
    document.getElementById('sortSelect').addEventListener('change', function(event) {
      const selectedSort = event.target.value;
      const currentUrl = new URL(window.location.href);
      currentUrl.searchParams.set('sort', selectedSort); 
      window.location.href = currentUrl.href; 
    });
  </script>
  <!-- search -->
  <script>
    document.getElementById('searchForm').addEventListener('submit', function(event) {
      event.preventDefault(); 
      const searchInput = document.getElementById('searchInput').value;
      const searchUrl = `/search.html?search-keyword=${encodeURIComponent(searchInput)}`;
      window.location.href = searchUrl; 
    });
  </script>
  <style>
    .container #pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
  </style>



  



  <%- include("../layouts/footer.ejs") %>